/* Pagination.css */

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    /* flex-wrap: wrap; */
}
/* .pagination-container > .child{
    max-width: 300px;
    width: 90%;
} */

.pagination-container .button ,.pagination-container button{
    padding: 12px 25px;
    margin:  5px 5px 20px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
}
.pageBtn{
    background-color: rgb(80, 164, 243) !important;
    color: black !important;
    /* font-size: larger; */
    font-weight: 800;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
    background-color: rgb(176, 209, 241) !important;
}

button.active {
    background-color: #007bff;
    padding: 12px 40px;
}